/* PADRAO */
#circulo{
    background: #E9DE89;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    filter: blur(60px);
    position: absolute;
    bottom: 50%;
    left: 60%;
}


/* SOBRE NOS */
#circulo1{
    background: #E9DE89;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    filter: blur(60px);
    position: absolute;
    bottom: -105%;
}
#circulo2{
    background: #E9DE89;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    filter: blur(60px);
    position: absolute;
    right: 0;
    bottom: -20%;
}

/* FUNCIONAMENTO */
#circulonv{
    background: #E9DE89;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    filter: blur(60px);
    position: absolute;
    bottom: -115%;
}
#circulonv2{
    background: #E9DE89;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    filter: blur(60px);
    position: absolute;
    right: 0;
    bottom: -205%;
}

/* IMPACTO */
#circulo3{
    background: #E9DE89;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    filter: blur(60px);
    position: absolute;
    right: 0;
    bottom: -215%;
}

/* ENTRETENIMENTO */
#circulo4{
    background: #E9DE89;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    filter: blur(60px);
    position: absolute;
    right: 0;
    bottom: -542%;
}

/* DOAR*/
#circulo5{
    background: #E9DE89;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    filter: blur(60px);
    position: absolute;
    left: 0;
    bottom: -637%;
}

/* CONTATO*/
#circulo6{
    background: #E9DE89;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    filter: blur(80px);
    position: absolute;
    left: 43%;
    bottom: -947%;
}