.container-card{   
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-around;
    
} 

.container-card2{   
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-around;
} 

.card-item{
    height: 150px;
    width: 25%;
    text-align: center; 
    display: flex;  
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    gap: 0px; /* tanto faz o valor oq importa é q tenha gap, o valor nao esta mudando provavelmente alguma outra class em cima nao está permitindo */
    background-color: #f8fff28e;
    border-radius: 20px;
    transition: .5s; 
}

.card-item img{
    width: 30%;
    padding-left: 15px;
    background-color: #f8fff200;
}
.card-item p{
    background-color: #f8fff200;
    padding: 0 15px 0 10px;
    font-weight: bold;
}

.container-card3,.container-card4{
    width: 15%;
    height: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    /* padding-left: 300px;
    padding-bottom: 50px;
    margin-top: -300px; */

}


.card-item2{
    height: 150px;
    width: 100%;
    display: flex;
    margin-top: 5px;
    background-color: #f8fff28e;
    border: solid;
    border-width: 1px;
    border-color: #e9de89c1;
    border-radius: 50px;
    transition: .5s;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card-item2 p{
    background-color: #f8fff200;
    font-weight: bold;
}

.container-card5{
    width: 50%;    
    height: 500px;
    margin-top: -500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-left: 750px;
    padding-bottom: 500px;
}
.container-ongs{
    display: flex;
    height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -600px;

}
.container-impactos{
    margin-top: -500px;
    margin-bottom: 100px;
}
.container-card5 p{
    font-weight: bold;
    gap: 10px;


}
.card-item3{
    /* margin-left: 100px; */
    text-align: center;
    padding-top: 25px;
    line-height: 30px;
}


