.hero {
    width: 100%;
    height: 100vh;
    color: #000; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 20px;
    font-weight: bold;
} 



/* PADRAO */
.h1padrao {
    font-size: 8vmin;
    font-weight: 600;
    text-align: left;
    padding-left: 370px;
}
.p1padrao {
    font-size: 3.5vmin;
    margin-bottom: 30px;
    text-align: left;
    padding-left: 381px;
    padding-top: 10px;
}

/* SOBRE NOS */
.h1sobrenos{
    width: 100%;
    height: 100%;
    font-size: 8vmin;
    text-align: left;
    padding: 150px 150px 0 150px;
}
.p1sobrenos{
    width: 100%;
    height: 100%;
    font-size: 3.5vmin;
    padding: 10px 150px 0 150px;
    text-align: justify;
}
.h2sobrenos{
    width: 100%;
    height: 100%;
    font-size: 8vmin; 
    padding: 90px 150px 10px 150px;  
    text-align: right;
}
.p2sobrenos{ 
    width: 100%;
    height: 100%;
    font-size: 3.5vmin;
    text-align: right;
    padding: 10px 150px 200px 150px;
    text-align: justify;
}

/* FUNCIONAMENTO */
.h1funcionamento{
    width: 100%;
    height: 100%;
    font-size: 8vmin;
    text-align: center;
    padding: 150px 150px 0 150px;
}
.p1funcionamento{
    font-size: 3.5vmin;
    text-align: center;
    text-align: justify;
    padding: 0 150px 100px 150px;
}
.p2funcionamento{
    font-size: 4vmin;
    text-align: center;
    padding: 0 150px 200px 150px;
}


/* IMPACTO */
.h1impacto{
    width: 100%;
    height: 100%;
    font-size: 8vmin;
    text-align: center;
    padding: 100px 150px 0 150px;
}

/* ONGs */
.h1ongs{
    width: 100%;
    height: 100%;
    font-size: 8vmin;
    text-align: center;
    padding: 90px 150px 0 150px; 
}
.p1ongs{
    font-size: 3vmin;
    text-align: center;
    padding: 0 0px 900px 150px;
}

/* Entretenimento */
.h1entretenimento{
    width: 100%;
    height: 100%;
    font-size: 8vmin;
    text-align: right;
    padding: 213px 200px 0 850px; 
}
.p1entretenimento{
    font-size: 4vmin;
    text-align: right;
    padding: 10px 200px 320px 730px;
}

/* Doar */
.h1doar{
    width: 100%;
    height: 100%;
    font-size: 8vmin;
    text-align: left;
    padding: 200px 530px 10px 200px;
}
.p1doar{
    font-size: 4vmin;
    text-align: left;
    padding: 0 630px 350px 200px;
}

/* LOJA*/
.h1loja{
    width: 100%;
    height: 100%;
    font-size: 8vmin;
    text-align: left;
    padding: 100px 530px 0 100px;
}
.p1loja{
    font-size: 2vmin;
    text-align: left;
    padding-left: 25px;
}
.p2loja{
    font-size: 4vmin;
    text-align: right;
    padding: 0px 50px 0px 0px;

    /* font-size: 4vmin;
    text-align: right;
    margin-right: 60px;
    padding-bottom: 250px; */
}
.imgloja{
    text-align: right;
    padding: 0px 50px 0px 0px;
    margin-bottom: -160px;
}

/* CONTATO*/
.h2contato{
    width: 100%;
    height: 100%;
    font-size: 4vmin;
    text-align: left;
    padding: 70px 150px 0 200px;
}
.h1contato{
    width: 100%;
    height: 100%;
    font-size: 8vmin;
    text-align: left;
    padding: 5px 790px 0 200px;
}
.h1contato2{
    width: 100%;
    height: 100%;
    font-size: 7vmin;
    text-align: 100%;
    padding: 120px 200px 0px 666px;
}
.pcontato{
    width: 100%;
    height: 100%;
    font-size: 4vmin;
    text-align: left;
    padding-left: 100px;
    padding-top: 50px;
}
.p1contato{
    width: 100%;
    height: 100%;
    font-size: 3vmin;
    text-align: left;
    padding-left: 100px;
    padding-bottom: 30px;
    word-spacing: 35px;
}
.pesquisaa{
    margin: 0px 0px -150px 0px;
}
